<html>
	<head>
		<title>
			Quotes Against Humanity
		</title>
		<link rel="stylesheet" type="text/css" href="game.css">
		<script type="text/javascript">
		//--------HELPER FUNCTIONS--------
		function errorDialog(problem) {
			alert("Something has gone terribly wrong! Please refresh the page. Report this to the developer: " + problem);
		}
		function cardFromId(id) {
			var tempCard = cards[id];
			if (tempCard["id"] != id) {
				errorDialog("cardFromIdMismatch");
			}
			return tempCard;
		}
		function blackCardFromId(id) {
			var tempCard = blackCards[id];
			if (tempCard["id"] != id) {
				errorDialog("blackCardFromIdMismatch");
			}
			return tempCard;
		}

		//--------RANDOM RENDERING FUNCTIONS--------
		function displayTimer(time) {
			document.getElementById("countdownTimer").innerHTML = time;
		}
		function displayScene(scene) {
			document.getElementById("sceneCounter").innerHTML = (scene == 0 ? "Play a card!" : "The Card Chooser is choosing.");
		}
		function displayPlayers(playerList, cardChooser) {
			document.getElementById("playerList").innerHTML = "";
			for (var i = 0; i < playerList.length; i++) {
				var playerElement = document.createElement("p");
				playerElement.id = "name-" + playerList[i]["nick"];
				playerElement.setAttribute("name", playerList[i]["nick"]);
				if (playerList[i]["is_card_chooser"] == true) {
					playerElement.innerHTML = playerList[i]["nick"] + " (card chooser)";
				} else {
					playerElement.innerHTML = playerList[i]["nick"];
				}
				var scoreElement = document.createElement("p");
				scoreElement.id = "score-" + playerList[i]["nick"];
				scoreElement.setAttribute("name", playerList[i]["nick"]);
				scoreElement.innerHTML = "Score: " + playerList[i]["points"];
				document.getElementById("playerList").appendChild(playerElement);
				document.getElementById("playerList").appendChild(scoreElement);
			}
		}
		function displayPlacedCards(cardArray, winningCard, players) {
			document.getElementById("cardsInPlay").innerHTML = "";
			for (var i = 0; i < cardArray.length; i++) {
				var cardHolder = document.createElement("p")
				cardHolder.style.border = "2px solid black";
				cardHolder.setAttribute("name", i);
				if (winningCard == -1) {
					if (amCardChooser) {
						cardHolder.addEventListener("click", function(event) 
							{ 
								var currentElement = this; //FIXME NOT SELECTING THE CORRECT ELEMENT
								console.log("currentElement is " + currentElement);
								console.log("currentElement.parent is " + currentElement.parentNode);
								console.log("currentElement.name is " + currentElement.getAttribute("name"));
								console.log("sending " + JSON.stringify({type: "chooseCard", data: Number.parseInt(currentElement.getAttribute("name"))}));
								gameSocket.send(JSON.stringify({type: "chooseCard", data: Number.parseInt(currentElement.getAttribute("name"))}));
							});
					} 
				} else {
					cardHolder.innerHTML = cardHolder.innerHTML + " -" + players[cardArray[i]["player"]]["nick"];
					if (i == winningCard) {
						cardHolder.style.background = "rgb(255,255,0)";
					}
				}
				for (var j = 0; j < cardArray[i]["card"].length; j++) {
					currentCard = cardArray[i]["card"][j];
					var cardElement = document.createElement("p");
					cardElement.id = "placed-card-" + currentCard;
					cardElement.innerHTML = cardFromId(currentCard)["quote"];
					cardHolder.setAttribute("name", i);
					cardHolder.appendChild(cardElement);
				}
				document.getElementById("cardsInPlay").appendChild(cardHolder);
			}
		}
		function displayBlackCard(card) {
			currentBlackCard = card;
			document.getElementById("blackCard").innerHTML = blackCardFromId(card)["quote"];
			var howManyCards = blackCardFromId(currentBlackCard)["cardAmount"];
			if (howManyCards > 1) {
				document.getElementById("placeNCards").style.display = "block";
				document.getElementById("placeNCards").innerHTML = "Place down " + howManyCards + " cards.";
			} else {
				document.getElementById("placeNCards").style.display = "none";
			}
		}
		function displayIsCardChooser(isCardChooser) {
			if (isCardChooser) {
				document.getElementById("isCardChooser").style.display = "block";
				amCardChooser = true;
			} else {
				document.getElementById("isCardChooser").style.display = "none";
				amCardChooser = false;
			}
		}


		//--------INVENTORY FUNCTIONS--------
		function displayInventory(inventoryArray, canPlaceCards) {
			var howManyCards = blackCardFromId(currentBlackCard)["cardAmount"];
			document.getElementById("cardInventory").innerHTML = "";
			for (var i = 0; i < inventoryArray.length; i++) {
				var cardElement = document.createElement("p");
				cardElement.id = "card-" + inventoryArray[i];
				cardElement.setAttribute("name", inventoryArray[i]);
				cardElement.innerHTML = cardFromId(inventoryArray[i])["quote"];
				if (canPlaceCards) {
					if (howManyCards == 1) {
						cardElement.addEventListener("click", function(event) 
						{ 
							var currentElement = event.target;
							gameSocket.send(JSON.stringify({type: 'playCard', data: [Number.parseInt(currentElement.getAttribute("name"))]}));
						});
					} else if (howManyCards > 1) {
						currentSelectedCards = [];
						cardElement.addEventListener("click", function(event) 
						{ 
							var currentElement = event.target;
							if (selected.indexOf(currentElement) == -1) {
								selected.push(currentElement);
								currentElement.style.background = "rgb(50,50,255)";
								currentSelectedCards.push(Number.parseInt(currentElement.getAttribute("name")));
								if (currentSelectedCards.length == howManyCards) {
									gameSocket.send(JSON.stringify({type: 'playCard', data: currentSelectedCards}));
									selected = [];
								}
							}
						});
					}
				} else {
					cardElement.style.cssText = "color: grey;";
				}
				document.getElementById("cardInventory").appendChild(cardElement);
			}
		}

		//--------SOCKET FUNCTIONS--------
		function parseSocketMessage(e) {
			console.log(e.data);
			var message = JSON.parse(e.data);
			switch (message["type"]) {
				case "inventory": //updates client inventory
					displayInventory(message["data"]["inventory"], message["data"]["can_place_cards"]);
					displayIsCardChooser(message["data"]["is_card_chooser"])
					break;
				case "gameState": //everything that isn't your inventory
					displayTimer(message["data"]["timer"]);
					displayScene(message["data"]["currentScene"]);
					displayPlacedCards(message["data"]["placedCards"], message["data"]["chosenCard"], message["data"]["players"]);
					displayPlayers(message["data"]["players"], message["data"]["cardChooser"]);
					displayBlackCard(message["data"]["blackCard"]);
					break;
			}
		}
		function sockMe() {
			gameSocket = new WebSocket("ws://98.177.203.231:12975/");
			gameSocket.onopen = function () {
				console.log("connected to server");
			}
			gameSocket.onclose = function () {
				errorDialog("socketClosed");
			}
			gameSocket.onerror = function () {
				errorDialog("socketError");
			}
			gameSocket.onmessage = parseSocketMessage;
		}

		//--------INIT FUNCTION--------
		function init() {
			sockMe();
			cards = <%= $CARDS %>
			blackCards = <%= $BLACK_CARDS %>
			amCardChooser = false;
			currentBlackCard = 0;
			selected = [];
		}

		window.onload = init;
		</script>
	</head>
	<body>
		<h1>Quotes Against Humanity</h1>
		<p class="timer">Countdown timer:
			<p id="countdownTimer" class="timerNumber"></p>
		</p>
		<h3 id="sceneCounter"></h3>
		<h2>Players:</h2>
		<p id="playerList"></p>
		<h2>Cards in play:</h2>
		<h3 id="isCardChooser" style="display:none;background:rgb(200,200,200)">You are the card chooser! Click a card to choose it as the best one.</h3>
		<p id="blackCard" style="background: rgb(0,0,0); color: rgb(255, 255, 255);"></p>
		<p id="cardsInPlay"></p>
		<h3>Your cards:
			<p id="placeNCards" style="display:none;">Place down 2 cards.</p>
		</h3>
		
		<p id="cardInventory"></p>
	</body>
</html>