<html>
	<head>
		<title>
			Quotes Against Humanity
		</title>
		<script type="text/javascript">
		function getInventory() {
			gameSocket.send(JSON.stringify({type: "getInventory"}));
		}

		function displayInventory(inventoryArrayString) {
			var inventoryArray = JSON.parse(inventoryArrayString);
			for (var i = 0; i++; i < inventoryArray.length) {
				var cardElement = document.createElement("p");
				cardElement.innerHTML = inventoryArray[i];
				document.getElementById("cardInventory").appendChild(cardElement);
			}
		}

		function parseSocketMessage(e) {
			switch (e.data["type"]) {
				case "inventory": //updates client inventory
					displayInventory(e.data["data"]);
					break;
				case "timer": //updates client countdown timer

					break;
				case "blackCard": //updates currently shown black card

					break;
			}
			//console.log(e);
			//console.log(e.data);
			//var socketMessage = JSON.parse(e.data);
			//console.log(socketMessage);
			//var chatMessage = socketMessage["message"];
			//document.getElementById("chatBox").innerHTML += "<br>" + chatMessage;
		}

		function sockMe() {
			gameSocket = new WebSocket("ws://98.177.203.231:12975/");
			gameSocket.onopen = function () {
				console.log("connected to server");
			}
			gameSocket.onclose = function () {
				console.log("connection unboop");
			}
			gameSocket.onerror = function () {
				console.log("connection broke boop");
			}
			gameSocket.onmessage = parseSocketMessage;
		}

		function init() {
			sockMe();
			cards = <%= $CARDS %>
		}

		window.onload = init;
		</script>
	</head>
	<body>
		<p id="cardInventory"></p>
	</body>
</html>