<html>
	<head>
		<title>
			Quotes Against Humanity
		</title>
		<script type="text/javascript">
		//--------HELPER FUNCTIONS--------
		function errorDialog(problem) {
			alert("Something has gone terribly wrong! Please refresh the page. Report this to the developer: " + problem);
		}
		function cardFromId(id) {
			var tempCard = cards[id];
			if (tempCard["id"] != id) {
				errorDialog("cardFromIdMismatch");
			}
			return tempCard;
		}

		//--------RANDOM RENDERING FUNCTIONS--------
		function displayTimer(time) {
			document.getElementById("countdownTimer").innerHTML = time;
		}
		function displayScene(scene) {
			document.getElementById("sceneCounter").innerHTML = scene;
		}

		//--------INVENTORY FUNCTIONS--------
		function displayInventory(inventoryArray) {
			for (var i = 0; i < inventoryArray.length; i++) {
				var cardElement = document.createElement("p");
				cardElement.id = "card-" + inventoryArray[i];
				cardElement.name = inventoryArray[i];
				cardElement.innerHTML = cardFromId(inventoryArray[i])["quote"];
				document.getElementById("cardInventory").appendChild(cardElement);
			}
		}

		//--------SOCKET FUNCTIONS--------
		function parseSocketMessage(e) {
			console.log(e.data);
			var message = JSON.parse(e.data);
			switch (message["type"]) {
				case "inventory": //updates client inventory
					displayInventory(message["data"]);
					break;
				case "gameState": //everything that isn't your inventory
					displayTimer(message["data"]["timer"]);
					displayScene(message["data"]["currentScene"]);
					break;
			}
		}
		function sockMe() {
			gameSocket = new WebSocket("ws://98.177.203.231:12975/");
			gameSocket.onopen = function () {
				console.log("connected to server");
			}
			gameSocket.onclose = function () {
				errorDialog("socketClosed");
			}
			gameSocket.onerror = function () {
				errorDialog("socketError");
			}
			gameSocket.onmessage = parseSocketMessage;
		}

		//--------INIT FUNCTION--------
		function init() {
			sockMe();
			cards = <%= $CARDS %>
		}

		window.onload = init;
		</script>
	</head>
	<body>
		<h1>Timer:</h1>
		<h2 id="countdownTimer"></h2>
		<h1>currentScene:</h1>
		<h2 id="sceneCounter"></h2>
		<h2>Quotes Against Humanity</h2>
		<h3>Cards in play:</h3>
		<p id="blackCard" style="background: rgb(255, 255, 255); font-color: rgb(0,0,0);"></p>
		<h3>Your cards:</h3>
		<p id="cardInventory"></p>
	</body>
</html>