<html>
	<head>
		<title>
			Quotes Against Humanity
		</title>
	</head>
	<body>
		<form method="post" action="/setUpPlayer">
			<label for="nickname">Enter your nickname: </label>
			<input type="text" id="nick" name="nick">
			<button type="submit">Join Game!</button>
		</form>
	</body>
</html>