* {
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

.timerNumber {
	text-align: center;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 5em;
}

.timer {
	text-align: center;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.card {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	border: 2px solid black;
}

.blackCard {
	position: relative;
	display: block;
	width: 150px;
	height: 150px;
	border: 2px solid black;
	background: rgb(0,0,0);
	color: rgb(255,255,255);
}

.cardGroup {
	position: relative;
	display: inline-block;
	border: 2px solid black;
	margin-right: 5px;
}

.selectedCard {
	background: rgb(60, 60, 255);
}

.cardQuote {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.cardAuthor {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 0px;
	padding-bottom: 5px;
	padding-right: 5px;
}

.playerContainer {
	display: inline-block;
	padding-right: 50px;
}

#cardsInPlay {
	position: relative;
	display: inline-block;
	min-height: 160px;
}