* {
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

.timerNumber {
	text-align: center;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 5em;
}

.timer {
	text-align: center;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.card {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	border: 2px solid black;
}

.selectedCard {
	background: rgb(60, 60, 255);
}

.cardQuote {
	position: absolute;
	display: block;
	top: 10px;
}

.playerContainer {
	display: inline;
}